@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FS Meridian';
    src: local('FS Meridian Medium'), local('FSMeridian-Medium'),
        url('../fonts/FSMeridian-Medium.woff2') format('woff2'),
        url('../fonts/FSMeridian-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FS Meridian';
    src: local('FS Meridian Bold'), local('FSMeridian-Bold'),
        url('../fonts/FSMeridian-Bold.woff2') format('woff2'),
        url('../fonts/FSMeridian-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FS Meridian';
    src: local('FS Meridian Regular'), local('FSMeridian-Regular'),
        url('../fonts/FSMeridian-Regular.woff2') format('woff2'),
        url('../fonts/FSMeridian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
